body {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTiWxNs_2vXpORB4B_98IB6p5aWqVYZBMegnXC-rsCMpKLMIfC1');
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-item {
    flex: 1;
    padding: 20px;
    background-color: var(--third-color);
    border: 0px solid #0b0202 outset #5fc2f8; 
    margin: 10px;                                                        
}

.title {
    color: var(--primary-color);
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    background: -webkit-linear-gradient(#e57c29, #442825);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    background: -webkit-linear-gradient(#e57c29, #442825);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro:hover {
    font-size: var(--font-size);
    background: -webkit-linear-gradient(#e57c29, #442825);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: var(--margin);
}

header {
    background-color: var(--third-color);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}
